body {
    text-align: center;
    background-image: linear-gradient(black, green);
    color: chartreuse;
    font-size: 70px;
}

p {
    color: rgb(255, 0, 0);
    font-family: CathGrls;
}

@font-face {
    font-family: CathGrls;
    src: url(./fonts/cathgrls.TTF);
}

#blue {
    color: blue;
}

#grey {
    color: dimgray;
}

nav {
    text-align: center;
    align-items: center;
}

ul{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}