body {
    text-align: center;
    background-image: linear-gradient(black, green);
    color: chartreuse;
    font-family: Papyrus;
    font-size: 70px;
}

p {
    color: rgb(255, 0, 0);
}

@font-face {
    font-family: Papyrus;
    src: url(./fonts/papyrus.ttf);
}

#blue {
    color: blue;
}